.a {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(240, 243, 255);
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.a-right {
    flex: 1;
}

/* 
.a-card.bg {
   /* position: absolute; */
   /* top: 50px;
   left: 50px;
   background-color:blue;
   z-index: 1; */


.a-card {
    width: 60%;
    height: 70vh;
    /* position:relative; */
    top: 50px;
    /* left: 10px; */
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.a-Cone {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 15px;
}

.a-Pill {
    width: 32px;
    height: 40px;
    border-radius: 20px;
    padding: 15px;
}

.a-Sphere {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 15px;
}

.a-title {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 10px;
}

.a-sub {
    font-weight: 600;
    margin-right: 5em;
}

.a-desc {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 5em;
    font-style: italic;
}

.a-award {
    margin-top: 10px;
    align-items: center;
    justify-self: center;
}

.award-cards {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr ;
    grid-template-rows: 1fr;
}
.a-award-texts {
    width: 70%;
    height: 80%;
    padding: 20px;
    border-radius: 20px;
    background: #F0F3FF;
     box-shadow: 0px 76px 188px rgba(4, 29, 243, 0.07),
       0px 31.751px 78.5419px rgba(4, 29, 243, 0.0465889),
       0px 16.9756px 41.9923px rgba(4, 29, 243, 0.0376657), 
       0px 9.51638px 23.5405px rgba(4, 29, 243, 0.0313484), 
       0px 5.05408px 12.5022px rgba(4, 29, 243, 0.0249452), 
       0px 2.10311px 5.20244px rgba(4, 29, 243, 0.0161645);
    /* width: 70%; */
}

.a-award-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(35, 0, 133);
}

.a-award-sub {
    font-weight: 700;
    color: rgb(101, 84, 119);
    padding: 5px;
}

@media screen and (max-width: 480px) {
    .a {
        flex-direction: column;
        text-align: center;
        margin-top: 325px;
        margin-bottom: 200px;
    }

    .a-left{
        width: 100%;
        /* height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; */
    }

    .a-card {
        height: 30vh;
    }

    .a-right {
        padding: 20px;
    }

    .a-sub {
        margin-right: 0;
    }

    .a-desc {
        margin-right: 0;
    }
}