/* 
.container {
   font-size: 20px;
   font-weight:800; 
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 70%;
}

ul li {
    display: inline;
    text-align: center;
}

a {
    display: inline-block;
    width: 25%;
    padding:auto;
    margin: 32px 0 ;
    text-decoration: none;
    color: blue;
}

hr {
    height: 40px;
    width: 20%;
    margin: -95px 0;
    background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
    border: none;
    border-radius: 50px;
    transition: .5s  ease-in-out;
}

.two:hover ~ hr{
    margin-left: 25%;
}

.three:hover ~ hr{
    margin-left: 50%;
}

.four:hover ~ hr{
    margin-left: 75%;
}

 */
.container {
   font-size: 20px;
   font-weight:800;
   background-color: rgb(240, 243, 255);
}

 .nav{
    border: 3px solid blue;
    border-width:2px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:20px;
    text-decoration: none;
    
}


